<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <tr>
                <th>
                    Nama
                </th>
                <th>tanggal_wisuda</th>
            </tr>
        </th>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.wisuda }}</td>
                <td>{{ row.tgl_wisuda }}</td>
                <td>
                    <form action="/manajemen_wisuda/daftar_wisuda" method="post">
                        <input type="hidden" name="id_wisuda" value="{{ row.id_wisuda }}">
                        <button type="submit">Pilih</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>