<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet"/>
    <title>Tambah data</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center"></h1>
        <form action="/manajemen_wisuda/store" method="POST">
            <div class="mb-3">
                <label for="id_wisuda" class="form-label">ID Wisuda :</label>
                <input name="id_wisuda" type="text" class="form-control" id="id_wisuda" >
            </div>
            <div class="mb-3">
                <label for="tgl_wisuda" class="form-label">Tanggal Wisuda :</label>
                <input name="tgl_wisuda" type="date" class="form-control" id="tgl_wisuda" >
            </div>
            <a class="btn btn-secondary float-end ms-2" href="/manajemen_wisuda" >Kembali</a>
            <input type="submit" value="Tambah" class="btn btn-primary float-end">
            </form>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</html>