<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
        <title>Tugas Akhir</title>
    </head>
    <body>
        <div class="card-body">
            <h1 class="text-center">Data Alumni</h1>
            {% for pesan in get_flashed_messages() %}
            <h5 class="alert alert-success text-center">{{ pesan }}</h5>
            {% endfor %}
            <a class="btn btn-primary float-start m-1" href="/ta_mahasiswa">Tugas Akhir</a>
            <a class="btn btn-primary float-start m-1" href="/data_alumni">Data Alumni</a>
            <a class="btn btn-primary float-start m-1" href="/publikasi_dosen">Publikasi Dosen</a>
            <a class="btn btn-primary float-start m-1" href="/manajemen_wisuda">Manajemen Wisuda</a>
            <a class="btn btn-primary float-start m-1" href="/career_center">Career Center</a>
            <a class="btn btn-success float-end" href="/mahasiswa/create">Tambah</a>
            <table class="table table-striped">
                <thead>
                <tr class="text-center">
                    <th>No</th>
                    <th>Nama Alumni</th>
                    <th>Tanggal Yudisium</th>
                    <th>Tanggal Wisuda</th>
                    <th>No Ijazah</th>
                    <th>Judul Skripsi</th>
                    <th>IPK Lulus</th>
                    <th>Bidang Kerja</th>
                    <th>Perusahaan Kerja</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{obj.nama_awal}} {{ obj.nama_akhir }}</td>
                    <td>{{obj.tgl_yudisium}}</td>
                    <td>{{obj.tgl_wisuda}}</td>
                    <td>{{obj.no_ijazah}}</td>
                    <td>{{obj.judul_skripsi}}</td>
                    <td>{{obj.ipk_lulus}}</td>
                    <td>{{obj.bidang_kerja}}</td>
                    <td>{{obj.perusahaan_kerja}}</td>
                    <td class="text-center align-middle">
                        <div class="btn-group" role="group" aria-label="Action buttons">
                            <a class="btn btn-info" href="/data_alumni/edit/{{obj.id_lulus}}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="btn btn-danger delete" href="/data_alumni/delete/{{obj.id_lulus}}" title="delete" onclick="return confirm('Apakah anda yakin ingin menghapus data ini ?')">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
