<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <title>Tambah data</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Tambah Data Alumni</h1>
        <h2 class="text-center">tanggal Wisudah : {{ data_wisuda.tgl_wisuda }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nomor</th>
                    <th>Nama Mahasiswa</th>
                    <th>Program Studi</th>
                    <th>Pilih</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.nama_awal }} {{ row.nama_akhir }}</td>
                    <td>{{ row.program_studi }}</td>
                    <td class="text-center align-middle">
                        <form action="/data_alumni/tambah_alumni" method="post">
                            <input type="hidden" name="id_wisuda" value="{{ data_wisuda.id_wisuda }}">
                            <input type="hidden" name="id_mahasiswa" value="{{ row.id_mahasiswa }}">
                            <button type="submit" class="btn btn-info">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</html>