<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet"/>
    <title>Cari Dosen</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Pilih Dosen</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NIDN</th>
                <th>Nama Dosen</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.nidn }}</td>
                <td>{{ row.nama_awal }} {{ row.nama_akhir }}</td>
                <td>
                    <form action="/publikasi_dosen/create" method="post">
                        <input type="hidden" name="id_dosen" value="{{ row.id_dosen }}">
                        <input type="hidden" name="nidn" value="{{ row.nidn }}">
                        <input type="hidden" name="nama_awal" value="{{ row.nama_awal }}">
                        <input type="hidden" name="nama_akhir" value="{{ row.nama_akhir }}">
                        <input class="btn btn-info" type="submit" value="Pilih">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</body>
</html>