<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet"/>
    <title>Tambah data</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Tambah Publikasi</h1>
        <h5 class="text-center">Nama Dosen : {{ nama_awal }} {{ nama_akhir }}</h5>
        <form action="/publikasi_dosen/store" method="POST">
            <input type="hidden"  name="id_dosen" value="{{ id_dosen }}">
            <div class="mb-3">
                <label for="tgl_publikasi" class="form-label">Tanggal Publikasi :</label>
                <input name="tgl_publikasi" type="date" class="form-control" id="tgl_publikasi" >
            </div>
            <div class="mb-3">
                <label for="judul" class="form-label">Judul :</label>
                <input name="judul" type="text" class="form-control" id="judul" >
            </div>
            <div class="mb-3">
                <label for="jenis_publikasi" class="form-label">Jenis Publikasi :</label>
                <input name="jenis_publikasi" type="text" class="form-control" id="jenis_publikasi" >
            </div>
            <a class="btn btn-secondary float-end ms-2" href="/publikasi_dosen" >Kembali</a>
            <input type="submit" value="Tambah" class="btn btn-primary float-end">
            </form>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</html>